@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

:root{
    --hoSea: #ffffff;
    --tagsCl:#b3b3b3;
}

body{
    background-color: black;
}

.container{
    display: flex;
    background-color: black;
    column-gap: 7px;
    color: white;
    padding: 9px;
    row-gap: 9px;
    max-height: 98vh;
}

a{
    text-decoration: none;
}

.up a{
    color: var(--hoSea);
}

.tags a{
    color: var(--tagsCl);
}

.left{
    min-width: 284px;
    height: 95vh;
    overflow: hidden;
}

.side{
    width: 284px;
    height: 100%;
}

.above{
    width: 100%;
}

.close{
    display: none;
}

.bound{
    height: 96vh;
    overflow: hidden;
}

.bound2{
    width: 100%;
    height: 97vh;
    position: relative;
    overflow: hidden;
    border-radius: 9px;
}

.right{
    background-color: #121212;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    max-height: 103vh;
    overflow: scroll;
    scroll-behavior: smooth;
    position: absolute;
}


::-webkit-scrollbar {
    width: 12px; 
    /* border-radius: 12px; */
    padding: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.311);
    /* border-radius: 9px; */
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.488); 
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: #121212; 
    border-radius: 63px;
}

.invert{
    filter: invert(1);
}

.up{
    background-color: #121212;
    border-radius: 9px;
}

.logo{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 18px;
}

.logo img{
    width: 162px;
    padding-left: 21px;
    padding-bottom: 19px;
    
}

.up ul li img{
    width: 24px;
}

.up ul li{
    display: flex;
    list-style: none;
    padding-left: 21px;
    gap: 15px;
    font-weight: 600;
}

.home, .search{
    padding: 9px 0;   
}

.home:hover , .search:hover, .ham:hover{
    filter: invert(0);
}

.home ,.search{
    filter: invert(0.33);
}

.up ul{
    padding-bottom: 9px;
}

.liLogo{
    width: 24px;
    padding-left: 21px;
    filter: invert(0.33);
}

.padder{
    padding: 4px 0;
    background-color: black;
}

.down{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 84vh;
    background-color: #121212;
    border-radius: 9px;
    position: relative;
    overflow: hidden;
}

.library{
    padding-top: 18px;
    padding-bottom: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.txt{
    color: #b3b3b3;
    font-weight: 540;
}

.liMain{
    display: flex;
    gap: 15px;
}

.plus{
    padding-right: 21px;
}

.plus img{
    width: 14px;
    filter: invert(0.72);
}

.liMain:hover .liLogo{
    filter: invert(0);
}

.back{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 36px;
}

.back:hover img{
    filter: invert(1);
}

.back:hover{
    background-color: #1f1f1f;
}

.liMain:hover .txt{
    color: white;
}

.cards{
    overflow: scroll;
    height: 35vh;
}

.cards::-webkit-scrollbar {
    width: 6px; 
    padding: 3px;
}

.cards::-webkit-scrollbar-thumb {
    border-radius: 9px;
}

.card1, .card2{
    padding: 9px;
}

.playlist{
    background-color: #1f1f1f;
    border-radius: 9px;
}

.pltext{
    padding-left: 18px;
    padding-top: 9px;
}

.plfirst{
    font-weight: 600;
}

.plsecond{
    padding-top: 9px;
    font-size: 12px;
}

.podcast{
    background-color: #1f1f1f;
    border-radius: 9px;
}

.potext{
    padding-left: 18px;
    padding-top: 9px;
    padding-right: 9px;
}

.pofirst{
    font-weight: 600;
}

.posecond{
    padding-top: 9px;
    font-size: 12px;
}

.plbtn, .pobtn{
    padding: 18px ;
}

.crbtn{
    padding: 7px 15px;
    border-radius: 18px;
    border: none;
    background-color: white;
    font-weight: 630;
}

.crbtn:hover{
    font-size: 13px;
}


.about{
    width: 284px;
    color: #b3b3b3;
    background-color: #121212;
    border-radius: 9px;
    position: absolute;
    bottom: 12px;
}

.tag{
    padding-right: 9px;
}

.tags{
    display: flex;
    width: 96%;
    flex-wrap: wrap;
    padding-left: 18px;
    padding-top: 30px;
    font-size: 12px;
    gap: 18px;
    
}

.lang button{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border: 1px solid #999999;
    font-weight: 630;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 18px;
}

.lang{
    padding-top: 33px;
    padding-left: 18px;
    padding-bottom: 27px;
}

.lang button img{
    width: 16px;
    padding-right: 6px;
}

.lbtn:hover{
    font-size: 11px;
    border: 1.2px solid white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    position: relative;
    top: 0px;
    background-color: rgba(0,0,0,.5);
}

.ham{
    padding-right: 9px;
    display: none;
    filter: invert(0.45);
    border-style: none;
    background-color: transparent;
}

.arrows{
    display: flex;
    padding: 21px;
    gap: 9px;
}

.arrows img{
    width: 16px; 
    filter: invert(0.63);
}

.arrow1, .arrow2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 27px;
    padding: 9px 8px;
    border: none;
    
}

.siLog{
    padding-right: 21px;
}

.login{
    padding: 12px 33px;
    border-radius: 27px;
    border: none;
    background-color: white;
    font-weight: 630;   
    font-size: 16px;
}

.hovGr:hover{
    background-color: rgb(243, 243, 243);
}

.sign{
    padding: 12px 33px;
    border-radius: 18px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 630;   
    font-size: 16px;
    color: #b3b3b3;
}

.btn:hover{
    font-size: 17px;
}

.cp{
    cursor: pointer;   
}

.hovWhite:hover{
    color: white;
}

.footer .hovWhite:hover{
    text-decoration: underline;
}

.spotifyPlaylist{
    padding:  33px 12px;
    padding-top: 72px;
    font-weight: 540;
}

.main{
    padding: 15px;
}

.albums{
    display: flex;
    flex-wrap: wrap;
    row-gap: 18px;
    column-gap: 9px;
}

.album{
    padding: 9px;
    border-radius: 9px;
    position: relative;
}

.content{
    width: 189px;
}

.content >img{
    width: 100%;
    object-fit: contain;
    border-radius: 9px;
}

.content p{
    padding: 9px 0;
    font-size: 12px;
    color: #b3b3b3;
}

.content h3{
    padding-top: 9px;
}

.albums{
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.albums .album{
    transition: .5s;
}

.albums .album:hover{
    transform: translateZ(18px);
    background-color: #171717;
}

.albums .album:hover .content button{
    opacity: 1;
    top: 153px;
}

.content button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-style: none;
    background-color: #31cb67;
    border-radius: 36px;
    position: absolute;
    right: 18px;
    top: 165px;
    opacity: 0;
    transition: all 0.2s ease;
}

.content button:hover{
    background-color: #1fdf64;
    width: 46px;
    height: 46px;
    transition: .01s;
}

.content button img{
    width: 24px;
    border-radius: 36px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    padding: 36px;
    padding-top: 135px;
    justify-content: space-between;
}

.leftFoot{
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    padding-bottom: 36px;
}

.footerContent{
    display: flex;
    flex-direction: column;
    line-height: 33px;
}

.footerContent span{
    color: #b3b3b3;
}

.socialBtn{
    width: 36px;
    height: 36px;
    background-color: #292929;
    border-radius: 36px;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialBtn img{
    width: 16px;
    filter: invert(1);
}

.socialBtn:hover{
    background-color: #1f1f1f;
}

.social{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.line{
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.hr{
    padding: 0 36px;
    padding-top: 9px;
}

.copy{
    padding-left: 36px;
    padding-bottom: 72px;
    padding-top: 54px;
    font-size: 15px;
    color: #b3b3b3;
    line-height: 3px;
}

@media (max-width: 777px) {
    .left{
        height: 95vh;
        min-width: auto;
        width: 75%;
        padding: 9px;
        position: absolute;
        left: -150%;
        transition: all .3s;
        z-index: 1;
        background-color: black;
        overflow: scroll;
    }

    .left::-webkit-scrollbar {
        width: 6px; 
        padding: 3px;
    }
    
    .left::-webkit-scrollbar-thumb {
        border-radius: 9px;
    }

    .left::-webkit-scrollbar-corner {
        background: black; 
        border-radius: 63px;
    }

    .side{
        width: 100%;
        height: 99%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        background-color: #121212;
        border-radius: 9px;
    }

    .down{
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #121212;
        border-radius: 9px;
        position: relative;
        overflow: hidden;
    }

    /* .mg{
        height: auto;
    } */

    /* .cards{
        height: auto;
    } */

    .about{
        width: 100%;
        position: relative;
        padding: 0;
    }

    .close{
        display: block;
        width: 27px;
        position: absolute;
        right: 18px;
        top: 18px;
    }
    
    .hamrow{
        display: flex;
        padding-left: 12px;
        align-items: center;
    }

    .ham{
        display: flex;
    }

    .bound{
        width: 99%;
        /* height: 97vh; */
        overflow: hidden;
        border-radius: 9px;
    }

    .right{
        width: 97vw;
    }

    .arrows{
        padding: 18px 0;
    }

    .siLog{
        padding-right: 18px;
    }

    .sign, .login{
        font-size: 14px;
        padding: 10.5px 27.5px;
        border-radius: 23.6px;
    }

    .siLog .sign:hover, .login:hover{
        font-size: 15px;
    }

    .albums{
        justify-content: center;
    }

    .spotifyPlaylist{
        justify-content: center;
    }

}

@media (max-width: 486px) {

    .spotifyPlaylist{
        text-align: center;
    }

    .albums{
        row-gap: 45px;
    }

    .content{
        width: 264px;
    }
}